h1 {
    color: #000000;
}
/** {
    border: solid;
}*/
.header{
background-color:#FF3355;
border-radius:70px;
display: flex;
justify-content: space-between;
}

.menu{
    color:#04fddc;
    
}

.grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

.footer{
    display:flex;
    justify-content: flex-end;
}

p,h2{
text-align:center;
}

body{
    background-color:#06eff7;
}